body {
	background-color: #181818;
	color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(0.1rem, calc(2.5vw + 0.1rem), 1.1rem);
	display: flex;
	/* height: 200vh; */
}

.flags {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: fixed;
	top: 96vh;
	right: 0;
	height: 4vh;
	width: auto;
	cursor: pointer;
}
.flag {
	margin-right: 2%;
	margin-left: 10%;
	margin-bottom: 2%;
}

aside {
	border-right: 2px solid white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding-right: 1vw;
	flex: 0 0 auto;
	height: 99vh;
	overflow-y: auto;
}

.horizontal-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#Photo {
	/* TEMPORARY */
	text-align: center;
	align-content: center;
	/* TEMPORARY */
	width: 200px;
	height: 200px;
	border-radius: 10%;
	border: 2px solid white;
	position: sticky;
	position: -webkit-sticky;
}

.link-logo {
	height: 50px;
	width: 50px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5vh;
}

nav img {
	cursor: pointer;
}

#Quick\ Infos\ Section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px #f1f1f1;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#Quick\ Infos\ Section p {
	margin: 1.5vh
}

h1, h2 {
	text-align: center;
}

#MainContent {
	flex: 1;
}

section {
	border-bottom: 2px dashed white;
}

section li {
	margin-bottom: 1.5vh;
}